<div class="registry-container" fxLayout="row" fxLayoutGap="20px">
  <mat-drawer-container class="sidebar-container">
    <mat-drawer [mode]="sidebarMode" position="end" [(opened)]="sidebarOpened" (closed)="closeSidebar()">
      <div class="sidebar-content">
        <div class="table-of-contents" [style.max-height.px]="tocMaxHeight">
          <ul *ngIf="sidebarOpened">
            <li id="titleTOC" (click)="tocClicked('title')" [class.active]="isActive('title')" class="toc-title">
              <span>GTSD v2.90</span></li>
            <li *ngFor="let h of toc" class="toc-header">
              <a class="toc-name" [id]="h.section + 'TOC'" (click)="tocClicked(h.section)"
                [class.active]="isActive(h.section)">{{ h.title }}
                <a class="toc-completion">({{ displaySummary(h.section) }})</a></a>
            </li>
          </ul>
        </div>

        <div>
          <div class="completion-content" *ngIf="completionContent">
            <div class="progress-wrapper">
              <round-progress [current]="progressValid" [max]="progressTotal" [color]="'#A133FF'"
                [background]="'#eaeaea'" [radius]="125" [stroke]="15" [rounded]="false" [responsive]="true">
              </round-progress>
              <div class="summary">
                <div class="current">{{ progressSummary }}</div>
                <div class="completion">{{ progressPercent }}</div>
              </div>
            </div>
          </div>

          <div class="completion-mini-content" *ngIf="!completionContent">
            <div class="mini-summary">{{ progressSummary + ' ' + progressPercent }}</div>
          </div>
          <div style="height: 32px;"></div>
        </div>
      </div>
    </mat-drawer>

    <mat-drawer-content id="test">
      <div class="speed-dial-container">
        <fab-speed-dial open="" [direction]="device === 'HandsetLandscape' ? 'left' : 'up'" animationMode="fling">
          <fab-speed-dial-trigger spin="true">
            <button mat-fab>
              <mat-icon class="fab-spin90">more_horiz</mat-icon>
            </button>
          </fab-speed-dial-trigger>

          <fab-speed-dial-actions>
            <button mat-mini-fab matTooltip="Save"
              [matTooltipPosition]="device === 'HandsetLandscape' ? 'above' : 'before'" color="secondary"
              (click)="true">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Save and Exit"
              [matTooltipPosition]="device === 'HandsetLandscape' ? 'above' : 'before'" color="secondary"
              (click)="true">
              <mat-icon>exit_to_app</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Check validation"
              [matTooltipPosition]="device === 'HandsetLandscape' ? 'above' : 'before'" color="secondary"
              (click)="true">
              <mat-icon>error_outline</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Clear validation"
              [matTooltipPosition]="device === 'HandsetLandscape' ? 'above' : 'before'" color="secondary"
              (click)="true">
              <mat-icon>highlight_off</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Print as PDF"
              [matTooltipPosition]="device === 'HandsetLandscape' ? 'above' : 'before'" color="secondary"
              (click)="true">
              <mat-icon>print</mat-icon>
            </button>
          </fab-speed-dial-actions>
        </fab-speed-dial>

        <div fxFlex="250px" *ngIf="sidebarOpened && sidebarMode === 'side'"></div>

      </div>

      <div>
        <h1 class="registry-name" scrollSpyElement id="title">General Thoracic Surgery Database v2.41</h1>

        <section class="section-wrapper" scrollSpyElement id="sectionA">
          <div class="section-title">
            <span>{{ getTocTitle('sectionA') }}</span>
            <span>{{ displaySummary('sectionA') }}</span>
          </div>
          <div class="section-body">
            <form [formGroup]="formGroupA" #formDirectiveA="ngForm">
              <div class="reg-container">
                <reg-input controlName="registryId" placeholder="Registry ID" [formGroup]="formGroupA" type="text"
                  readonly="true" fxFlex>(software generated)</reg-input>

                <reg-input controlName="HN" placeholder="HN" [formGroup]="formGroupA" type="text" fxFlex>
                </reg-input>

                <reg-input controlName="AN" placeholder="AN" [formGroup]="formGroupA" type="text" fxFlex></reg-input>
              </div>

              <div class="reg-container">
                <reg-input controlName="LastName" placeholder="Last Name" [formGroup]="formGroupA" type="text" fxFlex>
                </reg-input>

                <reg-input controlName="FirstName" placeholder="First Name" [formGroup]="formGroupA" type="text" fxFlex>
                </reg-input>

                <reg-input controlName="MidName" placeholder="Middle Name" [formGroup]="formGroupA" type="text"
                  require="false" fxFlex>
                </reg-input>
              </div>

              <div class="reg-container">
                <reg-datepicker controlName="DOB" placeholder="Birth Date" [formGroup]="formGroupA" fxFlex>dd/mm/yyyy
                </reg-datepicker>

                <reg-input controlName="Age" placeholder="Patient Age" [formGroup]="formGroupA" type="text"
                  readonly="true" fxFlex>(auto calculated)</reg-input>

                <reg-select controlName="Sex" placeholder="Sex" [formGroup]="formGroupA" [choices]="['Male', 'Female']"
                  fxFlex>
                </reg-select>
              </div>

              <div class="reg-container">
                <reg-input controlName="SSN" placeholder="SSN" [formGroup]="formGroupA" type="text" fxFlex>
                </reg-input>

                <reg-select controlName="Race" placeholder="Race" [formGroup]="formGroupA"
                  [choices]="['White', 'Black/African American', 'European', 'Arab', 'Asian']" fxFlex></reg-select>
              </div>

              <div class="reg-container"></div>

              <div class="reg-container">
                <reg-select-search controlName="PatNation" placeholder="Nationality" [formGroup]="formGroupA"
                  [choices]="nationality" fxFlex="40"></reg-select-search>

                <reg-select controlName="PermAddr" placeholder="Is This Patient’s Permanent Address"
                  [formGroup]="formGroupA" [choices]="['Yes', 'No', 'Unknown']" fxFlex></reg-select>

                <reg-input controlName="ZipCode" placeholder="Zip Code" [formGroup]="formGroupA" type="text"
                  fxFlex="20">
                </reg-input>
              </div>
            </form>
          </div>
        </section>

        FormGroupA: {{ formGroupA.value | json }}

        <!-- <section class="section-wrapper" scrollSpyElement id="sectionB">
          <div class="section-title">
            B. Demographics
          </div>
          <div class="section-body">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Favorite food" value="Sushi" />
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Leave a comment"></textarea>
              </mat-form-field>
            </form>
            <lorem-ipsum></lorem-ipsum>
          </div>
        </section> -->

        <!-- <section class="section-wrapper" scrollSpyElement id="sectionC">
          <div class="section-title">
            C. Preoperative
          </div>
          <div class="section-body">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <lorem-ipsum></lorem-ipsum>
            <lorem-ipsum></lorem-ipsum>
            <lorem-ipsum></lorem-ipsum>
          </div>
        </section> -->

      </div>
      <br>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
