// @import 'base.scss';

.registry-content {
  overflow: auto;
}

.registry-name {
  margin: 0;
  padding: 20px 20px 0 20px;
}

.section-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 20px;
}

.section-title {
  color: rgba(0, 0, 0, 0.54);
  background: rgb(242, 242, 242);
  align-content: center;
  align-items: center;
  display: flex;
  // justify-content: center;
  padding: 8px 20px;
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-direction: row;
  place-content: center space-between;
  z-index: 1;
}

.section-body {
  padding: 30px;
  overflow: auto;
}

.table-of-contents {
  width: 200px;
  padding-left: 20px;
  overflow-y: auto;
  overflow-x: hidden;

  ul {
    padding-inline-start: 0px;
  }

  li {
    padding: 2px 0;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    display: inline-block;
    font-size: small;
    font-weight: 300;
    color: #757575;
    padding-left: 16px;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.4;
    display: inline-block;
    cursor: pointer;

    &:hover {
      color: #a8a8a8;
      padding-left: 15px;
      border-left: 1px solid #ee6e73;
    }
  }
  a.active {
    // color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    padding-left: 14px;
    border-left: 2px solid #ee6e73;
  }
}

.menu-title {
  margin: 4px 0;
  position: relative;

  span {
    // background: white;
    padding-right: 8px;
    // text-transform: uppercase;
  }

  &:before {
    background: rgba(0, 0, 0, 0.14);
    content: '';
    display: block;
    height: 1px;
    margin-left: 80px;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 11px;

    @media (min-width: 100px) {
      width: 50%;
    }
  }
}
