<div class="app-container" [class.app-is-mobile]="isMobile">
  <app-header class="app-header" (navbarToggle)="navbar.toggle()"></app-header>

  <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="isMobile ? 56 : 0">
    <mat-sidenav #navbar [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [fixedInViewport]="isMobile"
      fixedTopGap="56">
      <app-navbar (navItemSelected)="isMobile ? navbar.close() : null"></app-navbar>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <p *ngFor="let content of fillerContent">{{ content }}</p> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>

    <!-- <mat-sidenav #sidebar position="end" [mode]="'side'" [opened]="!isMobile" [fixedInViewport]="isMobile"
      fixedTopGap="56">
      <div *ngFor="let nav of fillerNav">
        <a mat-list-item routerLink=".">{{nav}}</a>
      </div>
    </mat-sidenav> -->
  </mat-sidenav-container>
</div>
