<div class="app-container" [class.app-is-mobile]="device === 'handset'">
  <app-header class="app-header"></app-header>

  <mat-sidenav-container class="app-navbar-container" [style.marginTop.px]="device === 'handset' ? 56 : 0">
    <mat-sidenav #navbar [mode]="navbarMode" [(opened)]="navbarOpened" (closed)="closeNavbar()"
      [fixedInViewport]="device === 'handset'" fixedTopGap="56" [autoFocus]="false">
      <app-navbar (navItemSelected)="navbarMode === 'over' ? navbar.close() : null">
      </app-navbar>
    </mat-sidenav>

    <mat-sidenav-content (swipe)="onSwipe($event)">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
